# Project: Investigate tmdb-movies Dataset

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> This data set contains information about 10,000 movies collected from The Movie Database (TMDb),including user ratings and revenue.

In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### Loading Data

In [99]:
movies_df = pd.read_csv('tmdb-movies.csv')

### General Properties

In [100]:
# get shape of df
movies_df.shape

(10866, 21)

In [101]:
# get the attributes of df in list
list(movies_df.columns)

['id',
 'imdb_id',
 'popularity',
 'budget',
 'revenue',
 'original_title',
 'cast',
 'homepage',
 'director',
 'tagline',
 'keywords',
 'overview',
 'runtime',
 'genres',
 'production_companies',
 'release_date',
 'vote_count',
 'vote_average',
 'release_year',
 'budget_adj',
 'revenue_adj']

In [102]:
# get first 5 rows from the df
movies_df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [103]:
movies_df.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [104]:
movies_df.keywords

0        monster|dna|tyrannosaurus rex|velociraptor|island
1         future|chase|post-apocalyptic|dystopia|australia
2        based on novel|revolution|dystopia|sequel|dyst...
3                    android|spaceship|jedi|space opera|3d
4                      car race|speed|revenge|suspense|car
                               ...
10861                             surfer|surfboard|surfing
10862                            car race|racing|formula 1
10863                             car|trolley|stealing car
10864                                                spoof
10865                  fire|gun|drive|sacrifice|flashlight
Name: keywords, Length: 10866, dtype: object

In [105]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [106]:
movies_df = movies_df[['id', 'popularity', 'budget', 'revenue', 'runtime', 'original_title', 'genres', 'cast', 'director', 'release_date', 'vote_count', 'vote_average', 'release_year']]

In [107]:
movies_df.shape

(10866, 13)

In [108]:
movies_df.head()

,id,popularity,budget,revenue,runtime,original_title,genres,cast,director,release_date,vote_count,vote_average,release_year
0,135397,32.985763,150000000,1513528810,124,Jurassic World,Action|Adventure|Science Fiction|Thriller,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,6/9/15,5562,6.5,2015
1,76341,28.419936,150000000,378436354,120,Mad Max: Fury Road,Action|Adventure|Science Fiction|Thriller,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,5/13/15,6185,7.1,2015
2,262500,13.112507,110000000,295238201,119,Insurgent,Adventure|Science Fiction|Thriller,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,3/18/15,2480,6.3,2015
3,140607,11.173104,200000000,2068178225,136,Star Wars: The Force Awakens,Action|Adventure|Science Fiction|Fantasy,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,12/15/15,5292,7.5,2015
4,168259,9.335014,190000000,1506249360,137,Furious 7,Action|Crime|Thriller,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,4/1/15,2947,7.3,2015

In [109]:
movies_df.budget.value_counts()

0           5696
20000000     190
15000000     183
25000000     178
10000000     176
            ...
51500000       1
25500000       1
1350000        1
7920000        1
4653000        1
Name: budget, Length: 557, dtype: int64

> there is 5696 movies that have budget which is zero and will be dropped

In [110]:
movies_df.revenue.value_counts()

0            6016
12000000       10
10000000        8
11000000        7
6000000         6
             ...
53676580        1
617000          1
13001257        1
504050219       1
20518905        1
Name: revenue, Length: 4702, dtype: int64

In [111]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10866 non-null  int64
 1   popularity      10866 non-null  float64
 2   budget          10866 non-null  int64
 3   revenue         10866 non-null  int64
 4   runtime         10866 non-null  int64
 5   original_title  10866 non-null  object
 6   genres          10843 non-null  object
 7   cast            10790 non-null  object
 8   director        10822 non-null  object
 9   release_date    10866 non-null  object
 10  vote_count      10866 non-null  int64
 11  vote_average    10866 non-null  float64
 12  release_year    10866 non-null  int64
dtypes: float64(2), int64(6), object(5)
memory usage: 1.1+ MB

In [112]:
# drop null values
movies_df.dropna(inplace=True)

In [113]:
# change release_date to datetime
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'])

In [114]:
movies_df.sample(5)

,id,popularity,budget,revenue,runtime,original_title,genres,cast,director,release_date,vote_count,vote_average,release_year
4410,62764,1.606999,85000000,183018522,106,Mirror Mirror,Adventure|Fantasy|Drama|Comedy|Science Fiction,Julia Roberts|Lily Collins|Armie Hammer|Nathan...,Tarsem Singh,2012-03-15,718,5.4,2012
2138,48466,0.449761,0,0,21,Scared Shrekless,Animation|Comedy,Mike Myers|Cameron Diaz|Antonio Banderas|Dean ...,Gary Trousdale|Raman Hui,2010-10-28,49,6.4,2010
10076,25018,0.388685,0,5765562,81,Leatherface: Texas Chainsaw Massacre III,Thriller|Horror,Kate Hodge|Ken Foree|R.A. Mihailoff|William Bu...,Jeff Burr,1990-01-12,30,5.0,1990
162,252512,0.937620,10000000,7587485,97,While We're Young,Drama|Comedy,Ben Stiller|Naomi Watts|Adam Driver|Amanda Sey...,Noah Baumbach,2015-03-27,265,5.9,2015
1192,254772,0.266087,0,0,120,Two Men in Town,Crime|Drama,Forest Whitaker|Harvey Keitel|Brenda Blethyn|L...,Rachid Bouchareb,2014-02-06,23,6.1,2014

In [115]:
movies_df.id = movies_df.id.astype('str')

In [116]:
movies_df.cast = movies_df.cast.apply(lambda x: x.split('|'))

In [117]:
movies_df.genres = movies_df.genres.apply(lambda x: x.split('|'))

In [118]:
movies_df.director = movies_df.director.apply(lambda x: x.split('|'))

In [119]:
def objects_count(series):
    """this function accepts a pandas series to get count of items in each cell and return a dict with key and count"""
    objects_dict = {}
    for keys in series:
        for key in keys:
            if key in objects_dict:
                objects_dict[key] += 1
            else:
                objects_dict[key] = 1
    return objects_dict

In [120]:
genre_dict = objects_count(movies_df.genres)

In [121]:
genre_dict

{'Action': 2377,
 'Adventure': 1465,
 'Science Fiction': 1222,
 'Thriller': 2903,
 'Fantasy': 908,
 'Crime': 1354,
 'Western': 164,
 'Drama': 4747,
 'Family': 1214,
 'Animation': 664,
 'Comedy': 3775,
 'Mystery': 808,
 'Romance': 1708,
 'War': 268,
 'History': 330,
 'Music': 399,
 'Horror': 1636,
 'Documentary': 470,
 'TV Movie': 162,
 'Foreign': 184}

In [122]:
directors_dict = objects_count(movies_df.director)

In [123]:
directors_dict

{'Colin Trevorrow': 2,
 'George Miller': 10,
 'Robert Schwentke': 5,
 'J.J. Abrams': 5,
 'James Wan': 8,
 'Alejandro GonzÃƒÂ¡lez IÃƒÂ±ÃƒÂ¡rritu': 5,
 'Alan Taylor': 2,
 'Ridley Scott': 23,
 'Kyle Balda': 6,
 'Pierre Coffin': 3,
 'Pete Docter': 4,
 'Sam Mendes': 7,
 'Lana Wachowski': 7,
 'Lilly Wachowski': 7,
 'Alex Garland': 1,
 'Chris Columbus': 14,
 'Joss Whedon': 5,
 'Quentin Tarantino': 14,
 'Olivier Megaton': 4,
 'Peyton Reed': 6,
 'Kenneth Branagh': 10,
 'Francis Lawrence': 6,
 'Brad Bird': 6,
 'Antoine Fuqua': 10,
 'Brad Peyton': 3,
 'Sam Taylor-Johnson': 2,
 'Adam McKay': 7,
 'Christopher McQuarrie': 3,
 'Seth MacFarlane': 3,
 'Matthew Vaughn': 5,
 'Tom McCarthy': 5,
 'Wes Ball': 2,
 'Bill Condon': 8,
 'Neill Blomkamp': 4,
 'Elizabeth Banks': 2,
 'Steven Spielberg': 30,
 'Rob Letterman': 4,
 'Lenny Abrahamson': 3,
 'Afonso Poyart': 1,
 'Peter Sohn': 2,
 'Jaume Collet-Serra': 6,
 'John Crowley': 4,
 'F. Gary Gray': 8,
 'Breck Eisner': 4,
 'Danny Boyle': 11,
 'Guy Ritchie': 8,
 'Lee Toland Krieger': 3,
 'Ilya Naishuller': 1,
 'Tim Johnson': 5,
 'Jake Schreier': 2,
 'Simon West': 8,
 'Yorgos Lanthimos': 1,
 'Todd Haynes': 6,
 'Nancy Meyers': 6,
 'Baltasar KormÃƒÂ¡kur': 6,
 'David O. Russell': 9,
 'Ericson Core': 2,
 'John Wells': 3,
 'Tarsem Singh': 5,
 'David Koepp': 5,
 'Tom Hooper': 6,
 'Michael Mann': 11,
 'Denis Villeneuve': 3,
 'Josh Trank': 2,
 'Robert Eggers': 1,
 'Paul Feig': 5,
 'Glenn Ficarra': 3,
 'John Requa': 3,
 'Aleksander Bach': 1,
 'Ron Howard': 22,
 'James McTeigue': 5,
 'Ryan Coogler': 2,
 'Judd Apatow': 5,
 'Gavin Hood': 5,
 'Brian Helgeland': 5,
 'Jean-Baptiste LÃƒÂ©onetti': 1,
 'Joe Wright': 6,
 'Anne K. Black': 4,
 'Alfonso Gomez-Rejon': 2,
 'Steve Martino': 5,
 'Peter Landesman': 2,
 'Jonathan Levine': 5,
 'Eli Roth': 6,
 'George Tillman, Jr.': 6,
 'Genndy Tartakovsky': 2,
 'Jessie Nelson': 3,
 'Robert Zemeckis': 17,
 'Daniel Benmayor': 2,
 'John Francis Daley': 1,
 'Jonathan M. Goldstein': 1,
 'Gil Kenan': 3,
 'Henry Hobson': 1,
 'Drake Doremus': 3,
 'Daniel Espinosa': 2,
 'Joel Edgerton': 1,
 'Sean Anders': 4,
 'A. Todd Smith': 1,
 'Brian A Miller': 4,
 'Mark Osborne': 2,
 'Walt Becker': 5,
 'Jocelyn Moorhouse': 3,
 'Ari Sandel': 1,
 'Ciaran Foy': 2,
 'Andy Fickman': 7,
 'Chris Buck': 4,
 'Jennifer Lee': 2,
 'Ben Wheatley': 6,
 'Rob Cohen': 10,
 'Bharat Nalluri': 3,
 'Doug Ellin': 1,
 'Jeremy Garelick': 1,
 'Christopher B. Landon': 3,
 'M. Night Shyamalan': 9,
 'Scott Cooper': 3,
 'Scott Mann': 2,
 'Michael Dougherty': 2,
 'Gilles Paquet-Brenner': 3,
 'John Erick Dowdle': 5,
 'Rick Famuyiwa': 4,
 'Nima Nourizadeh': 2,
 'Simon Curtis': 3,
 'Mike Elliott': 2,
 'Jason Moore': 2,
 'Dean Israelite': 1,
 'Terry Jones': 5,
 'Camille Delamarre': 2,
 'Guillermo del Toro': 7,
 'Joe Lynch': 4,
 'Gregory Jacobs': 3,
 'Gregory Plotkin': 1,
 'John Maclean': 1,
 'Jay Roach': 11,
 'Billy Ray': 3,
 'Noah Baumbach': 7,
 'Paul Tibbitt': 1,
 'Rupert Goold': 1,
 'Boaz Yakin': 5,
 'Mark Burton': 1,
 'Richard Starzack': 1,
 'Joachim Trier': 1,
 'Fernando LeÃƒÂ³n de Aranoa': 2,
 'Pierre Morel': 4,
 'Levan Gabriadze': 1,
 'Anne Fletcher': 5,
 'Leigh Whannell': 1,
 'Craig Zobel': 2,
 'Colin Teague': 1,
 'Nicholas Hytner': 6,
 'Paul McGuigan': 7,
 'Gerado Olivares': 1,
 'Otmar Penker': 1,
 'Duke Johnson': 1,
 'Charlie Kaufman': 2,
 'S. Craig Zahler': 1,
 'Alejandro AmenÃƒÂ¡bar': 3,
 'Edward Zwick': 10,
 'Matt Brown': 1,
 'Stephen S. Campanelli': 1,
 'Marielle Heller': 1,
 'Uli Edel': 6,
 'Marjane Satrapi': 1,
 'Kazuaki Kiriya': 1,
 'Matteo Garrone': 2,
 'Woody Allen': 46,
 'Werner Herzog': 10,
 'Jonathan Demme': 9,
 'Catherine Hardwicke': 7,
 'David Sandberg': 1,
 'David M. Rosenthal': 2,
 'Luca Guadagnino': 1,
 'Etan Cohen': 1,
 'Daniel Alfredson': 1,
 'Frank Coraci': 8,
 'Kriv Stenders': 2,
 'Patricia Riggen': 4,
 'Sarah Gavron': 1,
 'Andrew Haigh': 2,
 'Max Joseph': 1,
 'Kyle Newman': 2,
 'Justin Kurzel': 2,
 'Steven C. Miller': 5,
 'Mary Agnes Donoghue': 1,
 'Kenny Ortega': 8,
 'Sean Mewshaw': 1,
 'Thomas Vinterberg': 3,
 'James Ponsoldt': 3,
 'John Madden': 8,
 'Alejandro Monteverde': 2,
 'Brandon Vietti': 3,
 'Atom Egoyan': 8,
 'Cameron Crowe': 9,
 'Stephen Greene': 1,
 'Ian Kirby': 2,
 'David Gordon Green': 11,
 'Patricia Rozema': 3,
 'Karyn Kusama': 4,
 'Andrew Renzi': 1,
 'David Feiss': 1,
 'Jon Watts': 2,
 'William Monahan': 2,
 'Leslye Headland': 2,
 'Jon Cassar': 2,
 'Asif Kapadia': 3,
 'Sophie Barthes': 2,
 'Corin Hardy': 1,
 'Zeke Norton': 2,
 'Paul Hyett': 2,
 'Peter Sollett': 2,
 'Ben Palmer': 2,
 'Gaspar NoÃƒÂ©': 2,
 'James Vanderbilt': 1,
 'Fouad Mikati': 2,
 'Dan Fogelman': 1,
 'Barry Levinson': 19,
 'Gabriele Muccino': 5,
 'Michael Showalter': 1,
 'Mark Neveldine': 5,
 'Ramin Bahrani': 2,
 'Steve Pink': 4,
 'Terrence Malick': 7,
 'Ryan Fleck': 3,
 'Anna Boden': 2,
 'Matt Osterman': 1,
 'James Ford Murphy': 1,
 'Christian Cantamessa': 1,
 'John Lyde': 3,
 'Wayne Blair': 2,
 'Wim Wenders': 7,
 'Miguel Ãƒngel Vivas': 1,
 'Brady Corbet': 1,
 'Ken Kwapis': 8,
 'David Gelb': 2,
 'Jay Oliva': 10,
 'Elizabeth Allen Rosenbaum': 3,
 'Louie Psihoyos': 2,
 'Ken Scott': 2,
 'Ryan Gosling': 1,
 'Brett Morgen': 2,
 'Paul Gross': 2,
 'Jackie Earle Haley': 1,
 'Anton Corbijn': 4,
 'Niki Caro': 3,
 'Michael Petroni': 1,
 'Morgan Matthews': 1,
 'Anthony Burns': 1,
 'Toby Genkel': 2,
 'Sean McCormack': 1,
 'Sheldon Wilson': 4,
 'Jill Bauer': 1,
 'Ronna Gradus': 1,
 'Travis Cluff': 1,
 'Chris Lofing': 1,
 'Neil LaBute': 9,
 'R.D. Braunstein': 2,
 'Michael Almereyda': 3,
 'Angelina Jolie': 3,
 'Andrew Erwin': 3,
 'Jon Erwin': 2,
 'Kevin Greutert': 4,
 'Chad Burns': 1,
 'Anders Morgenthaler': 2,
 'Robert Duvall': 2,
 'Ron Scalpello': 1,
 'Ross Duffer': 1,
 'Matt Duffer': 1,
 'Tom Gianas': 1,
 'Ross Shuman': 1,
 'Jon Wright': 3,
 'Roel ReinÃƒÂ©': 9,
 'Rick Morales': 1,
 'Alex Zamm': 7,
 'Sean McNamara': 11,
 'David Burris': 1,
 'Anthony DiBlasi': 4,
 'Bernard Rose': 8,
 'Matthew Heineman': 1,
 'Jason Friedberg': 8,
 'Aaron Seltzer': 8,
 'Antoine Bardou-Jacquet': 1,
 'Spike Lee': 17,
 'Craig Moss': 6,
 'Gary Rydstrom': 2,
 'Mike Binder': 5,
 'Zach Lipovsky': 2,
 'Jason Lei Howden': 1,
 'Sam Liu': 8,
 'Marc Abraham': 2,
 'Andrew Niccol': 6,
 'Roxanne Benjamin': 1,
 'David Bruckner': 3,
 'Patrick Horvath': 2,
 'Chad Villella': 2,
 'Matt Bettinelli-Olpin': 3,
 'Tyler Gillett': 3,
 'Justin Martinez': 2,
 'Radio Silence': 2,
 'Tim Russ': 1,
 'Craig Macneill': 1,
 'Josh Cooley': 2,
 'Stephen Frears': 17,
 'Charles Stone III': 3,
 'Todd Strauss-Schulson': 2,
 'Jason Krawczyk': 1,
 'Sofia Coppola': 6,
 'Owen Harris': 2,
 'Simon Hung': 1,
 'Jon M. Chu': 6,
 'Pamela Romanowsky': 1,
 'David Hackl': 2,
 'Michael Moore': 7,
 'Cary Fukunaga': 2,
 'Grant Harvey': 1,
 'Steven Hoban': 1,
 'Brett Sullivan': 3,
 'Terence Davies': 3,
 'Jacob Gentry': 2,
 'Peter Sullivan': 2,
 'Nick Robertson': 1,
 'Will Canon': 2,
 'Nick Simon': 1,
 'Robert Carlyle': 1,
 'Peter Strickland': 2,
 'April Mullen': 2,
 'Marya Cohn': 1,
 'Jeremy M. Inman': 1,
 'Andrew Mogel': 1,
 'Jarrad Paul': 1,
 'Howy Parkins': 1,
 'Julian Jarrold': 6,
 'Christopher Leone': 1,
 'Robert Budreau': 1,
 'William Kaufman': 4,
 'Darren Lynn Bousman': 9,
 'Axelle Carolyn': 1,
 'Adam Gierasch': 4,
 'Andrew Kasch': 2,
 'Neil Marshall': 5,
 'Lucky McKee': 6,
 'Ryan Schifrin': 1,
 'Mike Mendez': 4,
 'Dave Parker': 2,
 'John Skipp': 1,
 'Paul Solet': 2,
 'Ken Sanzel': 1,
 'Obin Olson': 2,
 'Amariah Olson': 2,
 'Tom Six': 3,
 'Aaron Moorhead': 3,
 'Justin Benson': 3,
 'Adam Massey': 1,
 'Ted Geoghegan': 1,
 'Dan Fraga': 1,
 'William Lau': 8,
 'Christopher Ray': 4,
 'Stanton Barrett': 1,
 'Michael Bafaro': 1,
 'Will Slocombe': 1,
 'Kevin Goetz': 2,
 'Michael Goetz': 2,
 'Matthew Leutwyler': 2,
 'Erik Canuel': 1,
 'Oren Peli': 2,
 'John Baumgartner': 1,
 'Austin Stark': 1,
 'Jennifer Phang': 1,
 'Ariel Kleiman': 1,
 'Peter DeLuise': 3,
 'Kim Farrant': 1,
 'Tony McNamara': 1,
 'Christopher Zalla': 1,
 'Anthony Wonke': 1,
 'Alex Gibney': 8,
 'Mora Stephens': 1,
 'Ryan Little': 6,
 'FranÃƒÂ§ois Simard': 1,
 'Anouk Whissell': 1,
 'Yoann-Karl Whissell': 1,
 'Karen J. Lloyd': 2,
 'Aaron Hann': 1,
 'Mario Miscione': 1,
 'Mark Linfield': 3,
 'Alastair Fothergill': 8,
 'Fred Wolf': 3,
 'Julien Soret': 1,
 'Brett Haley': 1,
 'Robert Harmon': 10,
 'Lee Friedlander': 1,
 'David Farr': 1,
 'Don Michael Paul': 7,
 'Jerry Jameson': 2,
 'Marc Furmie': 1,
 'Francesco Cinquemani': 1,
 'Jeremy Lalonde': 1,
 'Robbie Pickering': 1,
 'JosÃƒÂ© Manuel Cravioto': 1,
 'Butch Lukic': 3,
 'Roland JoffÃƒÂ©': 8,
 'Neil Armfield': 2,
 'Alec Gillis': 1,
 'Rick Alverson': 2,
 'Reed Morano': 1,
 'Kyle Patrick Alvarez': 2,
 'Mika KaurismÃƒÂ¤ki': 1,
 'Dee Rees': 2,
 'Chris Sparling': 1,
 'Matt Winn': 1,
 'Adam Salky': 1,
 'Stuart McDonald': 1,
 'Jimmy Chin': 1,
 'Elizabeth Chai Vasarhelyi': 1,
 'Isabel Coixet': 6,
 'Mitch Davis': 1,
 'Caryn Waechter': 1,
 'Anthony C. Ferrante': 5,
 'Stephen Reynolds': 3,
 'Mark Neale': 2,
 'Fabrizio Conte': 1,
 'Alex Kalymnios': 1,
 'Michael Polish': 5,
 'Kris Swanberg': 1,
 'Ethan Spaulding': 4,
 'Jed Mercurio': 1,
 'Jay Alaimo': 1,
 'Jeppe RÃƒÂ¸nde': 1,
 'Adam MacDonald': 1,
 'Anna Mastro': 1,
 'Branden Kramer': 1,
 'Aisling Walsh': 1,
 'Stephen Fingleton': 1,
 'Thierry Poiraud': 1,
 'Kyle Rankin': 2,
 'Nick Wernham': 1,
 'David Yarovesky': 1,
 'Jason Aron': 1,
 'Ben Blaine': 1,
 'Chris Blaine': 1,
 'Adam Egypt Mortimer': 1,
 'Jason Stutter': 1,
 'Eli Morgan Gesner': 1,
 'Charles Hood': 1,
 'Isaac Gabaeff': 1,
 'Joe Swanberg': 4,
 'Robert Pulcini': 5,
 'Shari Springer Berman': 5,
 'Conor McMahon': 2,
 'Angelo Pizzo': 1,
 'Adam Mason': 1,
 'Sam Friedlander': 1,
 'Paul Weitz': 10,
 'Kenny Gage': 1,
 'Devon Downs': 1,
 'Alberto Marini': 1,
 'Marcus Nispel': 5,
 'Emily Ting': 1,
 'Joey Kuhn': 1,
 'Paul Haggis': 5,
 'Iain Softley': 7,
 'Ernie Barbarash': 7,
 'Ben Chanan': 1,
 'Tyler Shields': 1,
 'Davis Guggenheim': 6,
 'Zachary Sluser': 1,
 'Jonathan M. Gunn': 1,
 'Jake Szymanski': 2,
 'Jeffrey Hornaday': 3,
 'Sean Cisterna': 1,
 'Justin Trefgarne': 1,
 'Rhys Thomas': 3,
 'Tony Aloupis': 1,
 'Jason Schnell': 1,
 'Isaac Florentine': 7,
 'Dan Bush': 2,
 'Alex Ross Perry': 2,
 'Sean Garrity': 2,
 'Ron Oliver': 2,
 'Liz Garbus': 3,
 'Chris Messina': 1,
 'Paul Andrew Williams': 4,
 'Jim Strouse': 3,
 'Jon Schnepp': 2,
 'Jordan Galland': 1,
 'Rob Reiner': 18,
 'Neil Mcenery-West': 1,
 'Steven R. Monroe': 5,
 'Alistair Legrand': 1,
 'Jeremy Sims': 2,
 'Adam Schindler': 1,
 'Shane Abbess': 2,
 'Mariah Carey': 1,
 'Steve Wolsh': 1,
 'Andrew Jones': 1,
 'Daniel Duran': 1,
 'Chad Archibald': 2,
 'Jonas Ãƒâ€¦kerlund': 4,
 'Mike Thurmeier': 5,
 'Galen T. Chu': 1,
 'Petr JÃƒÂ¡kl Jr.': 1,
 'Eshom Nelms': 1,
 'Ian Nelms': 1,
 'Alex Winter': 6,
 'Kief Davidson': 1,
 'Daniel Junge': 1,
 'Marina Zenovich': 1,
 'Jared Hess': 4,
 'Adam Brooks': 2,
 'Matthew Kennedy': 1,
 'SebastiÃƒÂ¡n Silva': 3,
 'L. Gustavo Cooper': 1,
 'Patrick Brice': 2,
 'Zackary Adler': 2,
 'Charles de Lauzirika': 1,
 'Ding Sheng': 1,
 'StÃƒÂ©phanie Joalland': 1,
 'Trey Nelson': 1,
 'Andrew Bujalski': 2,
 'Jamie Babbit': 4,
 'Khalil Sullins': 1,
 'Janet Grillo': 1,
 'Keoni Waxman': 7,
 'Nick Love': 6,
 'Jared Cohn': 4,
 'Valeri Milev': 2,
 'Jon Drever': 1,
 'Ara Paiaya': 1,
 'J.G. Quintel': 1,
 'Nancy Savoca': 2,
 'Mickey Keating': 1,
 'Nathan Frankowski': 2,
 'Saverio Costanzo': 1,
 'Andy Palmer': 1,
 'Raul Garcia': 1,
 'Alex Kendrick': 5,
 'Rachel Goldenberg': 4,
 'JR': 1,
 'Florian Cossen': 1,
 'Amy Berg': 4,
 'Marco Ponti': 1,
 'Shawn Rasmussen': 1,
 'Michael Rasmussen': 1,
 'Chris Rock': 4,
 'Gerard Barrett': 1,
 'Angela Bassett': 1,
 'Ben Safdie': 1,
 'Joshua Safdie': 1,
 'Morgan Neville': 3,
 'Levan Bakhia': 2,
 'Bruce McDonald': 3,
 'Victor Zarcoff': 1,
 'Patrick Robert Young': 1,
 'Powell Robinson': 1,
 'Chad Michael Ward': 1,
 'Sean Cain': 1,
 'Hannah Fidell': 2,
 'Brent Hodge': 1,
 'Derik Murray': 1,
 'Ezna Sands': 1,
 'Colin Hanks': 1,
 'Andrew Martin': 1,
 'Rodney Ascher': 3,
 'Sean Baker': 2,
 'Scott Beck': 1,
 'Nikole Beckwith': 1,
 'Joseph Kahn': 3,
 'Desiree Akhavan': 1,
 'Jarret Tarnol': 1,
 'Andrew Morgan': 1,
 'David Zellner': 1,
 'Paul Hoen': 10,
 'Guy Maddin': 3,
 'Evan Johnson': 1,
 'Bryan Carberry': 1,
 'J. Clay Tweel': 1,
 'Michael Feifer': 2,
 'Amy S. Weber': 1,
 'LazRael Lison': 1,
 'Basel Owies': 1,
 'Josh Mond': 1,
 'Kent Jones': 1,
 'Benjamin Statler': 1,
 'Craig Viveiros': 2,
 "Brian James O'Connell": 1,
 'Rustam Branaman': 1,
 'Joel Gallen': 4,
 'Eric Schaeffer': 1,
 'Stevan Riley': 2,
 'Israel Luna': 2,
 'Khoa LÃƒÂª': 1,
 'Jorge Michel Grau': 2,
 'David Sington': 2,
 'FrÃƒÂ©dÃƒÂ©ric Tcheng': 1,
 'Douglas Mackinnon': 1,
 'Bobcat Goldthwait': 5,
 'Tom Daley': 1,
 'Karan Malhotra': 1,
 'Sonny Mallhi': 1,
 'Nick Hurran': 5,
 'Adam Green': 5,
 'Kristin Hanggi': 2,
 'T.C. Christensen': 1,
 'Nick Lyon': 6,
 'Paul Thomas Anderson': 8,
 'Ben Jehoshua': 1,
 'Spike Brandt': 4,
 'Tony Cervone': 2,
 'Phil Joanou': 8,
 'Bryan Bockbrader': 1,
 'Alex Pillai': 1,
 'Jamal Hill': 1,
 'Frank Hall Green': 1,
 'Martin Scorsese': 30,
 'Louis C.K.': 6,
 'Crystal Moselle': 1,
 'Kent Moran': 1,
 'Aziz Ansari': 1,
 'Diane Bell': 1,
 'Jared P. Scott': 1,
 'Peter D. Hutchison': 1,
 'Kelly Nyks': 1,
 'Gabriel Cowan': 3,
 'Aaron Keeling': 1,
 'Austin Keeling': 1,
 'Don Argott': 1,
 'Sheena M. Joyce': 1,
 'Christopher K. Walker': 1,
 'Michael Beach Nichols': 1,
 'Roland Emmerich': 11,
 'Keith Arem': 1,
 'Josh Forbes': 1,
 'James Healey': 1,
 'Andrew Droz Palermo': 1,
 'Kristina Goolsby': 1,
 'Ashley York': 1,
 'Jonathan Wright': 2,
 'Amy Rice': 1,
 'Jane Preston': 1,
 'Gary Leva': 1,
 'Michael Medaglia': 1,
 'Robert Gordon': 1,
 'Jen Soska': 4,
 'Sylvia Soska': 4,
 'John Swetnam': 1,
 'Guillermo Amoedo': 1,
 'John Goldschmidt': 1,
 'Elliot Hegarty': 1,
 'Andrew Drazek': 1,
 'Robert Mond': 1,
 'Scott Dow': 1,
 'Philippe Le Guay': 1,
 'Peter Hutchings': 1,
 'Samantha Futerman': 1,
 'Ryan Miyamoto': 1,
 'Andrew Jarecki': 3,
 'Derick Martini': 3,
 'Don Hertzfeldt': 2,
 'Billy Corben': 2,
 'Felix Thompson': 1,
 'Dru Brown': 1,
 'Doug Campbell': 2,
 'Michael Goldfine': 1,
 'Joel Potrykus': 1,
 'Alex Garcia Lopez': 1,
 'James Moran': 1,
 'Nelson George': 1,
 'Tim Kinzy': 1,
 'Andrew Seklir': 1,
 'Maclain Nelson': 2,
 'Geeta Patel': 1,
 'Ravi Patel': 1,
 'Rory Karpf': 1,
 'Michael Winterbottom': 13,
 'Christopher Nolan': 10,
 'James Gunn': 4,
 'Joe Russo': 3,
 'Anthony Russo': 3,
 'Chad Stahelski': 1,
 'David Leitch': 1,
 'Peter Jackson': 14,
 'Don Hall': 2,
 'Chris Williams': 2,
 'Morten Tyldum': 2,
 'David Fincher': 10,
 'David Ayer': 5,
 'Shawn Levy': 11,
 'Neil Burger': 4,
 'Bryan Singer': 7,
 'Luc Besson': 7,
 'Jonathan Liebesman': 6,
 'Jake Kasdan': 5,
 'Dan Gilroy': 1,
 'Michael Bay': 11,
 'Wes Anderson': 11,
 'Damien Chazelle': 1,
 'Matt Reeves': 4,
 'Marc Webb': 3,
 'Doug Liman': 7,
 'Evan Goldberg': 2,
 'Seth Rogen': 2,
 'Clint Eastwood': 34,
 'Gareth Edwards': 2,
 'Robert Stromberg': 1,
 'Roger Donaldson': 14,
 'Stiles White': 1,
 'Dean DeBlois': 4,
 'David Robert Mitchell': 2,
 'Patrick Hughes': 3,
 'Phil Lord': 4,
 'Christopher Miller': 4,
 'Erik Van Looy': 2,
 'Sergey Bodrov': 1,
 'James Marsh': 4,
 'Luke Greenfield': 4,
 'Gary Shore': 1,
 'Simon J. Smith': 4,
 'Eric Darnell': 5,
 'Rob Marshall': 6,
 'Noam Murro': 2,
 'Phillip Noyce': 13,
 'Scott Frank': 2,
 'Paul King': 1,
 'Daniel Barnz': 4,
 'Jon Favreau': 7,
 'James DeMonaco': 2,
 'Vic Armstrong': 2,
 'Richard Linklater': 16,
 'J.C. Chandor': 3,
 'Brett Ratner': 12,
 'Darren Aronofsky': 6,
 'David Dobkin': 6,
 'Brian Trenchard-Smith': 8,
 'Nicholas Stoller': 4,
 'R.J. Cutler': 1,
 'Trish Sie': 1,
 'Christian Ditter': 1,
 'Josh Boone': 2,
 'Mike Cahill': 3,
 'Tim Story': 8,
 'Michael Spierig': 3,
 'Peter Spierig': 3,
 'Gabe IbÃƒÂ¡ÃƒÂ±ez': 1,
 'MichaÃƒÂ«l R. Roskam': 2,
 'JosÃƒÂ© Padilha': 2,
 'Wally Pfister': 1,
 'Nick Cassavetes': 6,
 'Rob Minkoff': 7,
 'Tristram Shapeero': 1,
 'Frank Miller': 3,
 'Robert Rodriguez': 19,
 'Steve Loter': 4,
 'Carlos Saldanha': 7,
 'Bobby Farrelly': 11,
 'Peter Farrelly': 13,
 'Rowan Joffe': 2,
 'George Clooney': 4,
 'Ava DuVernay': 1,
 'Xavier Dolan': 2,
 'Andrea Di Stefano': 1,
 'Peggy Holmes': 3,
 'Jean-Marc VallÃƒÂ©e': 4,
 'Paul W.S. Anderson': 10,
 'Michael Hoffman': 8,
 'Will Gluck': 4,
 'Brad Anderson': 7,
 'Jorge R. Gutierrez': 1,
 'Theodore Melfi': 1,
 'Scott Waugh': 2,
 'Max Nichols': 1,
 'Henrik Ruben Genz': 1,
 'Lasse HallstrÃƒÂ¶m': 13,
 'Graham Annable': 1,
 'Anthony Stacchi': 2,
 'Tim Burton': 19,
 'Kevin Macdonald': 8,
 'Tomm Moore': 2,
 'Drew Pearce': 1,
 'William Eubank': 2,
 'Gregg Araki': 6,
 'Steven Quale': 3,
 'Nick Powell': 1,
 'McG': 6,
 'Roberts Gannaway': 5,
 'Yann Demange': 2,
 'Philip Martin': 4,
 'Peter Sattler': 1,
 'Sam Miller': 1,
 'Richard Glatzer': 2,
 'Wash Westmoreland': 2,
 'Bennett Miller': 3,
 'Justin Reardon': 1,
 'Shana Feste': 3,
 'David MichÃƒÂ´d': 2,
 'Saul Dibb': 2,
 'Hossein Amini': 1,
 'Steven Brill': 7,
 'John R. Leonetti': 3,
 'Nils Timm': 1,
 'Alexs Stadermann': 1,
 'Stuart Beattie': 2,
 'Tom Gormican': 1,
 'Gia Coppola': 1,
 'Ivan Reitman': 15,
 'Jennifer Kent': 1,
 'Ben Falcone': 1,
 'FranÃƒÂ§ois Girard': 3,
 'Susanne Bier': 3,
 'James Kent': 1,
 'Sarik Andreasyan': 1,
 'Craig Johnson': 1,
 'David Hare': 3,
 'Jason Stone': 1,
 'Akiva Goldsman': 1,
 'Matthew Warchus': 1,
 'Lynn Shelton': 4,
 'Adam Wingard': 6,
 'Michael Berry': 1,
 'Jeremy Saulnier': 2,
 'Tom Vaughan': 5,
 'Russell Crowe': 1,
 'Ralph Ziman': 2,
 'Miguel Arteta': 4,
 'Tommy Lee Jones': 3,
 'Julius Avery': 1,
 'Jim Mickle': 4,
 'Richard Ayoade': 2,
 'Peter Lepeniotis': 1,
 'Ekachai Uekrongtham': 1,
 'Nacho Vigalondo': 3,
 'Jalmari Helander': 1,
 'David Grovic': 1,
 'Craig Gillespie': 4,
 'Zach Braff': 2,
 'Maya Forbes': 1,
 'Ross Katz': 2,
 'W.D. Hogan': 1,
 'Chris Evans': 1,
 'Jonathan Glazer': 3,
 'Rob Thomas': 1,
 'Peter Chelsom': 5,
 'Christopher Spencer': 1,
 'Stephanie Soechtig': 1,
 'Andrew Fleming': 8,
 'Terry Gilliam': 13,
 'Gerard Johnstone': 1,
 'Peter Askin': 1,
 'Thomas Carter': 6,
 'Steve Purcell': 5,
 'Patrick Osborne': 1,
 'Ami Canaan Mann': 2,
 'Lone Scherfig': 3,
 'John Suits': 2,
 'Olivier Dahan': 1,
 'Steven Bernstein': 1,
 'Josh Lawson': 1,
 'Brin Hill': 1,
 'James Griffiths': 1,
 'Paul Schrader': 10,
 'John Pogue': 2,
 'Paco Cabezas': 1,
 'Tate Taylor': 2,
 'GrÃƒÂ©gory Levasseur': 1,
 'Scott Derrickson': 5,
 'Olivier Assayas': 6,
 'Michael Cuesta': 3,
 'John Michael McDonagh': 2,
 'Bradley King': 1,
 'Peter Bogdanovich': 7,
 'Jemaine Clement': 1,
 'Taika Waititi': 3,
 'Matt Shakman': 1,
 'Leigh Janiak': 1,
 'David Mackenzie': 6,
 'Jack Plotnick': 1,
 'Steven Knight': 2,
 'Iain Forsyth': 1,
 'Jane Pollard': 1,
 'Charles Martin Smith': 5,
 'Peter Glanz': 1,
 'Giorgio Serafini': 3,
 'James Coyne': 1,
 'Phil Alden Robinson': 5,
 'Kat Candler': 1,
 'Tom Harper': 1,
 'John Slattery': 1,
 'James Bobin': 3,
 'George C. Wolfe': 2,
 'Scot Armstrong': 1,
 'Kurando Mitsutake': 1,
 'Adam Robitel': 1,
 'Kevin Smith': 11,
 'Jason Reitman': 6,
 'Paul Bettany': 1,
 'Stephen Merchant': 2,
 'Andy Hamilton': 1,
 'Guy Jenkin': 2,
 'Noel Clarke': 3,
 'Joe Carnahan': 5,
 'Richard Loncraine': 6,
 'Michael Tiddes': 2,
 'Bill Pohlad': 1,
 'Randall Wallace': 4,
 'John Herzfeld': 5,
 'John Stockwell': 11,
 'Nick Gomez': 2,
 'Tom Green': 2,
 'Kelly Reichardt': 4,
 'Robert Connolly': 2,
 'Damon Beesley': 1,
 'Iain Morris': 1,
 'Oren Moverman': 3,
 'Laura Poitras': 1,
 'Alan Rickman': 1,
 'Keith Scholey': 2,
 'David Jung': 1,
 'Renny Harlin': 17,
 'David Cronenberg': 19,
 'Jordan Rubin': 1,
 'Daniel Stamm': 2,
 'David Campbell': 1,
 'Mike Leigh': 10,
 'Huck Botko': 1,
 'Claudio FÃƒÂ¤h': 3,
 'David Hayter': 1,
 'Dearbhla Walsh': 1,
 'Joe Dante': 14,
 'Mark Waters': 8,
 'Ned Benson': 3,
 'Jeff Baena': 1,
 'LluÃƒ\xads QuÃƒ\xadlez': 1,
 'Sajid Nadiadwala': 1,
 'Dan Beers': 1,
 'Philippe Falardeau': 1,
 'Chris Brinker': 1,
 'Trevor Matthews': 1,
 'Jon Knautz': 3,
 'Tony Mahony': 1,
 'Chris Nash': 1,
 'Bill Plympton': 1,
 'Erik Matti': 2,
 'Lancelot Oduwa Imasuen': 1,
 'Kristina Buozyte': 2,
 'Bruno Samper': 1,
 'Vincenzo Natali': 6,

In [124]:
len(directors_dict)

5298

In [125]:
movies_df.tail()

,id,popularity,budget,revenue,runtime,original_title,genres,cast,director,release_date,vote_count,vote_average,release_year
10861,21,0.080598,0,0,95,The Endless Summer,[Documentary],"[Michael Hynson, Robert August, Lord 'Tally Ho...",[Bruce Brown],2066-06-15,11,7.4,1966
10862,20379,0.065543,0,0,176,Grand Prix,"[Action, Adventure, Drama]","[James Garner, Eva Marie Saint, Yves Montand, ...",[John Frankenheimer],2066-12-21,20,5.7,1966
10863,39768,0.065141,0,0,94,Beregis Avtomobilya,"[Mystery, Comedy]","[Innokentiy Smoktunovskiy, Oleg Efremov, Georg...",[Eldar Ryazanov],2066-01-01,11,6.5,1966
10864,21449,0.064317,0,0,80,"What's Up, Tiger Lily?","[Action, Comedy]","[Tatsuya Mihashi, Akiko Wakabayashi, Mie Hama,...",[Woody Allen],2066-11-02,22,5.4,1966
10865,22293,0.035919,19000,0,74,Manos: The Hands of Fate,[Horror],"[Harold P. Warren, Tom Neyman, John Reynolds, ...",[Harold P. Warren],2066-11-15,15,1.5,1966

In [138]:
print("number of movies with no runtime recorded: {}".format(movies_df.runtime[movies_df.runtime == 0].count()))

number of movies with no runtime recorded: 28

> there is 6016 movies with 0 revenue and those as well will be dropped

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [126]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [127]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [128]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!